.darkmode{
    background-color: #1a1a1a;

    h2,h3,h4,p{
        color: $gris;
    }

    .property-content{
        background-color: $grisOscuro;
    }

    .form{
        legend{
            
            color: $gris;
        }
        fieldset{
            border: 1px solid $gris;
        }
        label{
            color: $gris;
        }
        textarea,select, input:not([type=submit]){
            background-color: $grisOscuro;
            color: $gris;
        }
    
    }
}