.footer{
    background-color: $grisOscuro;
    padding: 1rem 0;
    p{
        margin: 0;
        color: $blanco;
        padding: 1rem;
        text-align: center;
    }
    .navegator{
        opacity: 1;
        height: auto;
    }
}