.table-admin{
    width: 100%;
    border-radius: 2rem;
    th{
        background-color: $verde;
        color: $blanco;
        //border-radius: 1rem;
        &:first-of-type{
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }
        &:last-of-type{
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;

        }
    }
    th,td{
        text-align: center;
    }
    td{
        padding: 2rem;
    }
    img{
        width: 10rem;
        margin: 0 auto;
    }

    &.sellers{
        th{
            background-color: darkcyan;
        }
    }
}

.alert{
    text-align: center;
    color: $gris;
    margin: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.error{
    background-color: rgba(241, 11, 11, 0.836);
}